# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are
1. Pyhton
2. R
3. Javascript

**Objectives:** 
* Data tools
* Data Libraries
* Expressions
* Bold text and simple equations

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Scikit

Data Science Tools |
-------------------|
Jupyter            |
Pytorch            |
Tableau            |

### Below are a few examples of evaluating arithmetic expressions in python

In [20]:
(3*4)+5
# This a simple arithmetic expression to mtiply then add integers

17

In [36]:
print(200//60, "horas e", 200%60, "minutos")

3 horas e 20 minutos

In [ ]:
This will convert 200 minutes to hours by diving by 60

## Author: Luis Henrique